{% extends 'index.html' %}
{% load static %}
{% block title%} Contact US {% endblock %}

{% block main-content %}
<style>
    body{
        background-color: black;
        color: antiquewhite;
    }
</style>
  <div class = "container" >
    <br>
    <h2 class = "text-center">About Us

    </h2>



            <div class = " text-center">
                
                   <p>406,Mahesh building,</p>
                    <p>Nagpur,</p>
                    <p>Maharashtra,</p>
                    <p>Phone-no : 0712-22334455</p>
                

            </div>
            <br> <br>
             <div class = "row container">
        <p class = "fs-4 text-center">
            Email: iamgr8111@gmail.com

            <div class = " text-center font-size:30px" >INSTAGRAM : 
                <a href = "http://instagram.com/hrushikesh_dongre?igshid=YmMyMTA@M@Y" class = "text-center" >
                    Instagram
                </a>
            </div>
            <br> <br>
           
        </p>

    </div>
{% endblock main-content %}