{% extends 'index.html' %}
{% load static %}
{% block title%} {% endblock title %}

{% block main-content %}

        <h1 class = "text-center">
            Welcome <span class = "text-capitalize">{{request.user}}</span></h1><br> <br>
       

        <h1 class = "text-center">  CONFIRM YOUR EMAIL  BY CLICKING ON THE MAIL AND ENTER YOUR ADDRESS AND DETAILES ON THE LINK PROVIDED
        </h1>
     <br> <br>
        <p class="text-center">
            AFTER REGISTRATION CLICK ON HOME TO CONTINUE SHOPPING
        </p>
            
            
{%endblock main-content%}