{% extends 'index.html' %}
{% load static %}
{% block title%} ABOUT {% endblock %}

{% block main-content %}
  <div class = "container">
    <br>
    <h2 class = "text-center">About Us

    </h2>

    <div class = "row container">
        <p class = "fs-4 text-center">
            We are a Stock Market based  products company.Setup in january 2022 in nagpur.We provide a vast range of stock market products for all the fans out there who love to make profit in stock market and buy stuff related to their passion.
        </p>

    </div>
    <br><br>
    <div class = "row container text-center">
        <h1>Vision</h1>
        <p class = "fs-4 text-center">
            Our vision is  basically to provide every stock market fan goods which the really want and can relate to. We really aim to provide every investor and trader their products and for newbees in market
        </p>
        <p class = "fs-4 text-center">
           
        </p>
        
    </div>

  </div>
{% endblock main-content %}